
<%- contentFor('body') %>
<div class="container pb-4 mt-5">
  <div class="row align-items-center justify-content-center text-center text-md-start">
    <div class="col-md-6">
  <h1 class="display-4 fw-bold mb-3">A la Mesa: Así Conectamos tu Comida Favorita</h1>
  <p class="lead mb-4">En A la Mesa, hacemos que sea mas facil para ti encontrar y disfrutar de la comida que más te gusta. Descubre cómo facilitamos el proceso para que los restaurantes lleguen a más personas y tú disfrutes de cada bocado sin complicaciones.</p>
  <ul class="list-unstyled fs-5">
    <li class="mb-3"><i class="fas fa-store text-success me-2"></i><strong>Para Restaurantes: </strong> Registra tu negocio, carga tu menú con fotos y precios, y prepárate para recibir pedidos. Es tu vitrina digital para miles de clientes.</li>
    <li class="mb-3"><i class="fas fa-user text-success me-2"></i><strong>Para Ti: </strong> Explora y Elige. Navega por una amplia variedad de restaurantes, descubre nuevos platos o encuentra tus clásicos. Tu próximo pedido está a solo un clic.</li>
    <li class="mb-3"><i class="fas fa-shopping-cart text-success me-2"></i><strong>Tu Pedido, a un Toque.</strong> Selecciona tus platos, personaliza tu orden y realiza el pago de forma segura. Recibirás una confirmación instantánea.</li>
    <li class="mb-3"><i class="fas fa-concierge-bell text-success me-2"></i><strong>El Restaurante Prepara.</strong> Una vez confirmado, el equipo del restaurante se encarga de preparar tu comida con la calidad que los caracteriza.</li>
    <li class="mb-3"><i class="fas fa-truck-moving text-success me-2"></i><strong>Tu Comida en Camino.</strong> El restaurante gestiona la entrega. Te mantendremos informado sobre el estado de tu pedido, para que sepas cuándo está listo y en camino.</li>
    <li class="mb-3"><i class="fas fa-handshake text-success me-2"></i><strong>Disfruta y Valora.</strong> Recibe tu pedido y, si lo deseas, califica tu experiencia. Tu opinión ayuda a la comunidad de A la Mesa a crecer y mejorar.</li>
  </ul>
  <a href="/auth/register" class="btn btn-primary btn-lg mt-3">Únete a la Experiencia A la Mesa</a>
</div>
    <div class="col-md-6">
      <img src="/images/slider1.jpeg" class="img-fluid rounded-3 shadow-lg" alt="Cómo funciona A la Mesa">
    </div>
  </div>
</div>
